
.login-container {
    width: 50%;
    display: inline-block;
    background-color: #2e294e;
}

.login-info {
    color: #2e294e;
    text-align: center;
}

.google-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    width: 15rem;
    background-color: white;
}
.google-button {
    width: 15rem;
    height: 15rem;
}
.icon-container {
    width: 15rem;
    height: 15rem;
}

.icon-container img {
    width: 70%;
    height: 70%;
}
.google-button-container div {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.google-button-container div figure {
    height: 5rem;
}
.google-button-container div figure img {
    height: 100%;
}
.google-button-container .google-button {
    box-shadow: 5px 5px 5px #8E9DCC;
}

.google-button-container div:hover {
    transform: scale(1.2);
}