div {
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

button {
    background-color: #0075A2;
    border-style: none;
    border-radius: 3px;
}

